
/* Your CSS Code here. */
nav{
	display:flex;
	justify-content:start;	
	background-color: whitesmoke;
	height: 4em;
}

a{
	font-size:25px;
	font-weight:bold;
	color:black;
	text-decoration:none;
}

li{
	list-style:none;
}
ul{
	width:20em;
	height:3em;
	display:flex;
	aligns-items:center;
	justify-content:space-around;
}